* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(88, 88, 88);
  font-size: 20px;
}

h1,h2 {
  color: rgb(13, 13, 13);
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  line-height: 1.7em;
  /* line-height: 4em; */
}

main > article {
  border: 1px solid gray;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color:aliceblue;
  width: 60%;
  border-radius: 10px;
}

main > article > header {
  width: 1000px;
}

body > header { 
  display: flex;
  justify-content: space-around;
  padding: 1.3em;
  align-items: center;
  background-color: aliceblue;
}

article > header {
  display: flex;
  flex-direction: column;
}

article > header > h2 {
  align-self: center;
}

ul {
  display: flex;
  gap: 20px;
}

li::marker {
  content: none;
}

footer {
  background-color: aliceblue;
  padding: 1.3em;
  display: flex;
  gap: 100px;
  justify-content: space-between;
  margin-top: 40px;
}

dialog {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 40px;
  margin-left: 90px;
  padding: 20px;
  border-radius: 5px;
  color: black;
}